*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsla(208, 100%, 97%, 0.914);
}

.header {
  width: 100%;
  height: 80px;
  background: #c7c949;
  border-radius: 8px;
}
.nav {
    display: inline-block;
    margin-left: 31%;
    margin-top: 55px;
}
.nav li {
     list-style-type: none;
     display:inline-block;
     padding-left: 20px;
}
.nav li a {
    text-decoration: none;
}
.nav a:visited {
  color: #000000;
}
.nav a:hover{
font-size: 20px;
font-weight: bold;
}

@media screen and (max-width: 600px) {
  .nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .nav ul li a {
    display: block;
  }
}

.home{
width: 100%;
height: 600px;
background: #e9f7fc ;
border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.home h1{
    text-align: center;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
}
hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    margin: 40px 0;
  }
.home-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: #3700ff;  
    perspective: 159px;  
}
.home-design {
    position: relative;
    width: 300px;
    height: 300px;
    background: #c7c949;
    transform: rotatex(45deg);
    transition: all 3s ease-in-out;
}
.home-design h1{
position: absolute;
bottom: 0px;
color: hsl(0, 0%, 0%);
text-align: center;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

/* Styling for bio figure */
.bio-fig {
  text-align: center;
  margin-bottom: 20px;
}

.bio-fig img {
  border-radius: 50%;
  border: 5px solid #c7c949;
  box-shadow: 0 0 10px rgb(88, 110, 219);
}

.bio-fig h1 {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
  text-align: left;
}


.content {
  max-width: 800px;
  padding: 0 20px;
  text-align: justify;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-family:Georgia, 'Times New Roman', Times, serif; 
}


hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 40px auto;
  width: 100%;
}

.performance {display: flex;
    width: 100%;
    height: 600px;
    background:hsl(194, 74%, 97%); 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.performance h4{
    
    margin-bottom: 40px;
}
.table1 {
    float: left;
    width: 50%;
}

.table1 h4 {
  margin-top: 25px;
  margin-left: 25px;
} 
table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Style for table headers */
  th {
    background-color: hsl(194, 74%, 97%);
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  
  /* Style for table cells */
  td {
    padding: 10px 15px;
    border-bottom: 1px solid hsl(194, 74%, 97%);
  }
  
  /* Alternate row background color */
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  /* Hover effect on rows */
  tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Add a border to the last row and last column */
  tr:last-child td {
    border-bottom: none;
  }
  td:last-child {
    border-right: none;
  }
  
  /* Responsive table styling for smaller screens */
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      display: none;
    }
    table tr {
      display: block;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    table td {
      display: block;
      text-align: left;
      font-size: 0.9em;
      border: none;
    }
    table td:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
.table2 {
    width: 50%;
}
.table2 h4 {
  margin-top: 25px;
  margin-left: 25px;
}

/* Footer container */
.footer-container {
    margin: 0 auto;
    width: 300px;
  }

footer {
  position: relative;
    background-color: #000000;
    color: #c7c949;
    padding: 40px 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .text-input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
 
  .contact-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #ddd;
  }
  
  /* Footer bottom */
  .footer-bottom {
   text-align: center;
    margin-top: 20px;
  }
  
  

